body{
    background-color: rgb(230, 230, 230);
}

.container{
    margin: 20px 40px;
    padding: 15px;
    background-color: rgb(238, 201, 153);
    border-radius: 6px;
}

.input-section{
    display:flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-section input{
    flex:1;
    padding: 8px;
    font-size: 15px;
    border: 2px solid rgb(207, 154, 154);
    outline: none;
}

button{
    margin-left: 10px;
    padding:0px 20px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: rgb(238, 201, 153);
    border: 2px solid rgb(47, 158, 248);
    border-radius: 4px;
    color: rgb(47, 158, 248);
}

button:hover{
    cursor: pointer;
    background-color: rgb(115, 187, 247);
    color: white;
    border: 2px solid white;
}

.list-section ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 10px;

}

.list-section ul li{
    display: flex;
    padding: 6px 14px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 8px;
    font-size: 18px;
    border-radius: 5px;
}

.remove
{
    height: 26px;
    width: 26px;
}

.remove:hover{
    cursor: pointer;
    fill: rgb(230, 59, 59);
}

